<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/52e06e07244a3590366669665ea540e3-icone-do-circulo-do-banco-3.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./style2.css">
    <title>Cuenta</title>
</head>
<body>
    <div id="app">

        <header id="header">
            <img src="./img/52e06e07244a3590366669665ea540e3-icone-do-circulo-do-banco-3.png" alt="">
            <h1>Liberty Bank</h1>
        </header>
    
        <div id="dh11">
            <div id="hamburguesa">
                <nav class="navbar">
                    <div class="container-fluid d-flex flex-row justify-content-center align-items-center">

                      <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" ><span class="navbar-toggler border-0"><img id="menuImg" src="./img/menu-4-xxl.png" alt="menu"></span></button>
                      <p class="navbar-brand">Menu</p>

                      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="offcanvasLogo" src="./img/52e06e07244a3590366669665ea540e3-icone-do-circulo-do-banco-3.png" alt="logo"> Liberty Bank</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                              <a class="nav-link" href="./accounts.html"><img class="navImg" src="./img/external-accounts-data-science-kiranshastry-lineal-kiranshastry.png" alt="cuentas"> Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><img class="navImg" src="./img/initiate-money-transfer.png" alt="transacciones"> Transacciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html" @click="postCerrar"><img class="navImg" src="./img/external-logout-social-media-sbts2018-outline-sbts2018.png" alt="cerrar"> Cerrar Sesion</a>
                            </li>
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                </nav>
            </div>

            <div id="dh2">
                <a href="./accounts.html"><img src="./img/external-accounts-data-science-kiranshastry-lineal-kiranshastry.png" alt="inicio"></a>
                <p>Inicio</p>
            </div>
            <div id="dh3">
                <a href="#transaccionesLink"><img src="./img/initiate-money-transfer.png" alt="transacciones"></a>
                <p>Transacciones</p>
            </div>
            <div id="dh4">
                <a href="./index.html" @click="postCerrar"><img src="./img/external-logout-social-media-sbts2018-outline-sbts2018.png" alt="cerrar"></a>
                <p>Cerrar Sesion</p>
            </div>
        </div>

        <section id="section">

            <div id="d1">
                <div id="d11">
                    <img id="imgCuenta" src="./img/3398016.png" alt="cuenta">
                    <h2>Cuenta</h2>
                </div>
                <div id="d12">
                    <div id="dd1">
                        <div id="dd13">
                           <p>Numero de cuenta: {{cuenta1.numero}}</p> 
                        </div>
                        <div id="dd12">
                           <p>Tipo de cuenta: {{cuenta1.accountType}}</p> 
                        </div>
                        <div id="dd14">
                            <p>Fecha creacion:  {{fechaLinda(cuenta1.diaCreacion)}}</p>
                        </div>
                        <div id="dd15">
                            <p>Balance: {{plata(cuenta1.balance)}}</p>
                        </div>
                        <div id="dd16">
                            <p>Transacciones: {{cuenta1.transacciones.length}}</p>
                        </div>
                    </div>
                </div> 
            </div>

            <div id="d2">
                <div id="d21">
                    <img id="imgTransaccion" src="./img/5214365.png" alt="transaccion">
                    <h2 id="transaccionesLink">Mis Transacciones</h2>
                </div>
                <div id="d22">
                    <div id="dd2">
                            <table id="t2">
                                <thead>
                                    <tr>
                                        <!-- <th>Id</th> -->
                                        <th>Monto</th>
                                        <th>Descripcion</th>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Saldo</th><!--  -->
                                    </tr>
                                </thead>
                                <tbody v-for="transaccion in transacciones">
                                    <tr v-if="transaccion.type == 'credito'">
                                        <!-- <td>{{transaccion.id}}</td> -->
                                        <td>{{plata2(transaccion.amount)}}</td>
                                        <td>{{transaccion.description}}</td>
                                        <td>{{fechaLinda(transaccion.date)}} {{fechaLinda2(transaccion.date)}}</td>
                                        <td class="box-classGreen" >{{transaccion.type}}</td>
                                        <td>{{plata2(transaccion.sobrante)}}</td><!--  -->
                                    </tr>
                                    <tr v-else>
                                        <!-- <td>{{transaccion.id}}</td> -->
                                        <td>{{plata2(transaccion.amount)}}</td>
                                        <td>{{transaccion.description}}</td>
                                        <td>{{fechaLinda(transaccion.date)}} {{fechaLinda2(transaccion.date)}}</td>
                                        <td class="box-classRed" >{{transaccion.type}}</td>
                                        <td>{{plata2(transaccion.sobrante)}}</td><!--  -->
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

        </section>

        <div id="d3">
            <iframe src="https://www.youtube.com/embed/WB9e3_7Ah6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Aca te dejamos un poco de informacion sobre los distintos tipos de cuenta bancaria que podes tener, eso si, acordate que no pueden ser mas de 3. Con eso dicho, a aprender!!!</p>
        </div>

        <aside id="aside">
            <img id="img1" src="./img/BANCO.jpg" alt="banquito">
            <img id="img2" src="./img/imagenes-con-logos.jpg" alt="bancos">
            <img id="img3" src="./img/conciliacion-bancaria.png" alt="">
        </aside>

        <footer id="df1">
            <div id="foo1">
                <div><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img src="./img/instagram-new--v2.png" alt="instagram"></a></div>
                <div><a href="https://es-la.facebook.com" target="_blank" rel="noopener noreferrer"><img src="./img/facebook-new.png" alt="facebook"></a></div>
                <div><a href="https://twitter.com/?lang=es" target="_blank" rel="noopener noreferrer"><img src="./img/twitter-circled.png" alt="twitter"></a></div>
                <div><a href="https://www.whatsapp.com" target="_blank" rel="noopener noreferrer"><img src="./img/whatsapp.png" alt="whatsapp"></a></div>
            </div>
            <div id="foo2">
                <h3>Cohort 29</h3>
            </div>
        </footer>

    </div>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script src="https://unpkg.com/vue@3"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="./account.js"></script>
</body>
</html>