*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
a{
    line-height: normal;
}
/*---------------------------*/
#header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 10px;
    width: 100%;
    height: 13vh;
    background-color: whitesmoke;
    /*background-image: linear-gradient(to right, rgb(62, 77, 76), rgb(151, 151, 127));
    background-color: rgb(110, 110, 89);
    color: rgb(32, 139, 139);*/
}
#header h1{
    text-align: center;
    padding-bottom: 9px;
    font-family: system-ui;
    font-weight: 700;
    margin: 0;
    line-height: normal;
}
#header img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#dh11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: rgb(42 42 92);/*rgb(20, 20, 59)*/
    padding-top: 20px;
    padding-bottom: 20px;
}
#hamburguesa{
    display: none;
}
#dh2{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 5px;
}
#dh2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    padding: 6px;
    font-weight: 700;
    text-decoration: none;
    margin: 3px;
    background-color: rgb(242 204 26);
    border-radius: 50px;
    color: black;
}
#dh2 a:hover{
    background-color: rgb(255, 223, 80);
    border: 1px solid rgb(189, 157, 18);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function:ease;
}
#dh2 a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
#dh2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(242 204 26);
    text-align: center;
}
#dh3{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 5px;
}
#dh3 a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    padding: 6px;
    font-weight: 700;
    text-decoration: none;
    margin: 3px;
    background-color: rgb(242 204 26);
    border-radius: 50px;
    color: black;
}
#dh3 a:hover{
    background-color: rgb(255, 223, 80);
    border: 1px solid rgb(189, 157, 18);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function:ease;
}
#dh3 a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
#dh3 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 157, 18);
    text-align: center;
}
#dh4{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 5px;
}
#dh4 a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    padding: 6px;
    font-weight: 700;
    text-decoration: none;
    margin: 3px;
    background-color: rgb(242 204 26);
    border-radius: 50px;
    color: black;
}
#dh4 a:hover{
    background-color: rgb(255, 223, 80);
    border: 1px solid rgb(189, 157, 18);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function:ease;
}
#dh4 a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
#dh4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(242 204 26);
    text-align: center;
}
/*----------------------*/

#section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    background-color: rgb(20, 20, 59);
}


#d1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: fit-content;/*60vh*//*fit content*/
}
#d11{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 20px;/*20 25???*/
    font-size: larger;
    color: rgb(242 204 26);
}
#imgCuenta{
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgb(242 204 26);
    padding: 2px;
}
#d11 h2{
    border-bottom: 3px solid rgb(189, 157, 18);
    font-size: revert;
    font-weight: normal;
    margin: 0;
    line-height: normal;
}

#d12{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 40vh;
}


#dd1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 197px;
    margin: 5px 20px;
    padding: 5px 5px 10px 5px;
    color: rgb(85, 85, 85);
    background-color: whitesmoke;
    border: 3px solid rgb(242 204 26);
}
#dd1 p{
    font-weight: 700;
    margin: 0;
}

#dd12{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 0.49cm;
    /*font-weight: 600;*/
    padding-left: 3px;
    text-align: center;
}
#dd13{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 0.49cm;
    /*font-weight: 600;*/
    padding-left: 3px;
    text-align: center;
}
#dd14{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: 0.45cm;
    /*font-weight: 600;*/
    padding-left: 3px;
}
#dd15{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 0.49cm;
    /*font-weight: 600;*/
    padding-left: 3px;
}
#dd16{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 0.49cm;
    /*font-weight: 600;*/
    padding-left: 3px;
}

/*-----------------*/
#d2{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: fit-content;/*60vh*//*fit content*/
    padding-right: 10px;
}

#d21{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 20px;/*20 25 ???*/
    font-size: larger;
    color: rgb(242 204 26);
}
#imgTransaccion{
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgb(242 204 26);
    padding: 2px;
}
#d21 h2{
    border-bottom: 3px solid rgb(189, 157, 18);
    font-size: revert;
    font-weight: normal;
    margin: 0;
    line-height: normal;
}
#d22{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
}

#dd2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#t2{
    width: 100%;
    padding: 3px;
    height: fit-content;
    overflow: scroll;
    color: rgb(85, 85, 85);
}
#t2 td{
    background-color: whitesmoke;
    padding: 2px;
    text-align: center;
    border: 2px solid rgb(189, 157, 18);
}
#t2 th{
    background-color: rgb(242 204 26);
    padding: 2px;
    text-align: center;
    border: 2px solid rgb(189, 157, 18);
}

/*-----------------------*/
#d3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: rgb(20, 20, 59);
}
#d3 iframe{
    width: 600px;
    height: 330px; 
}
#d3 p{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 600px;
    height: fit-content;
    font-size: 0.37cm;
    font-weight: 900;
    padding: 1px;
    margin-top: 10px;
    color: rgb(242 204 26);
}

#aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}
#img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
#img2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}
#img3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

#df1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(242 204 26);/*whitesmoke*/
    /*color: rgb(242 204 26);*/
    color: whitesmoke;/*black*/
    font-weight: 500;
    height: 52px;
}
#foo1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 25%;
    height: 50px;
    margin-left: 20px;
}
#foo1 img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
#foo1 img:hover{
    background-color: rgb(255, 223, 80);
    border-radius: 50%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
#foo2{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    width: 75%;
    height: 50px;
    margin-right: 20px;
}
#foo2 h3 {
    font-size: larger;
    font-weight: 900;
    margin: 0;
    line-height: normal;
}

.swal-modal {
    text-align: center;
}
.swal-title{
    text-align: center;
}
.swal-text{
    text-align: center;
}
.swal-button--confirm {
    background-color: rgb(20, 20, 59);

}
.swal-button--confirm:hover {
    background-color: rgb(20, 20, 59) !important;
}
.swal-button--confirm:focus {
    background-color: rgb(20, 20, 59);
    border: none;
}



.box-classRed {
    color: red;
    font-weight: 700;
}

.box-classGreen{
    color: green;
    font-weight: 700;
}

@media (max-width:1264px) {
    #dd1{
        width: 70%;
    }
    #header{
        height: 15vh;
    }
}

@media (max-width:1150px) {

    #dh2 a{
        width: 65px;
        height: 65px;
    }
    #dh2 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh2 a img{
        width: 45px;
        height: 45px;
    }
    #dh3 a{
        width: 65px;
        height: 65px;
    }
    #dh3 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh3 a img{
        width: 45px;
        height: 45px;
    }
    #dh4 a{
        width: 65px;
        height: 65px;
    }
    #dh4 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh4 a img{
        width: 45px;
        height: 45px;
    }
    #d3 iframe {
        width: 590px;
    }
    #d3 p{
        width: 590px;
        font-weight: 600;
    }
    #header{
        height: 17vh;
    }
}

@media (max-width:1024px) {
    h1{
        font-size: 0.8cm;
    }
    #header{
        height: 19vh;
    }

    #dd1{
        width: 70%;
        height: 190px;
    }
    #dd1 p{
        font-size: 0.45cm;
        font-weight: 600;
    }
    #d3 iframe{
        width: 560px;
        height: 315px;
    }
    #d3 p {
        width: 560px;
    }
    #d11 h2{
        font-size: x-large;
    }
    #d21 h2{
        font-size: x-large;
    }
}

@media (max-width:930px) {
    
    #dd1{
        width: 75%;
        height: 176px;
    }
    #dd1 p{
        font-size: 0.4cm;
        font-weight: 600;
        text-align: center;
    }
}

@media (max-width:768px) {
    
    #section{
        flex-direction: column;
        height: fit-content;
        justify-content: space-between;
    }
    #d1{
        width: 100%;
        height: fit-content;
    }
    #d2{
        width: 100%;
        padding: 0;
        height: fit-content;
        justify-content: center;
    }
    #d12{
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-bottom: 15px;
    }
    #d22{
        height: auto;
    }
    #dd1{
        width: 270px;
        height: 176px;
        margin: 0;
    }
    #dd2{
        height: fit-content;
    }
    #d11{
        font-size: medium;
        margin: 15px;
    }
    #d21{
        font-size: medium;
        margin: 10px;
    }
    #img1{
        display: none;
    }
    #img3{
        display: none;
    }
    #img2{
        width: 100%;
    }
    #t2 td{
        font-size: 0.4cm;
    }
    #t2 th{
        font-size: 0.4cm;
    }

    #d3 iframe{
        width: 470px;
        height: 265px;
    }
    #d3 p {
        width: 470px;
        font-size: 0.35cm;
        font-weight: 300;
    }
    #df1{
        flex-direction: column;
        height: fit-content;
        background-color: rgb(242 204 26);

    }
    #foo1{
        width: 100%;
        height: 45px;
        margin: 0;
        justify-content: space-evenly;
    }
    #foo2{
        justify-content: center;
        margin: 0;
        height: 25px;
        width: 100%;
    }
    #dh2{
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 5px;
    }
    #dh2 a{

        width: 50px;
        height: 50px;
        padding: 6px;
        font-weight: 700;
        margin: 3px;
    }
    #dh2 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh2 a img{
        width: 30px;
        height: 30px;
    }
    #dh2 p{
        font-size: small;
    }
    #dh3{
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 5px;
    }
    #dh3 a{

        width: 50px;
        height: 50px;
        padding: 6px;
        font-weight: 700;
        margin: 3px;
    }
    #dh3 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh3 a img{
        width: 30px;
        height: 30px;
    }
    #dh3 p{
        font-size: small;
    }
    #dh4{
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 5px;
    }
    #dh4 a{

        width: 50px;
        height: 50px;
        padding: 6px;
        font-weight: 700;
        margin: 3px;
    }
    #dh4 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh4 a img{
        width: 30px;
        height: 30px;
    }
    #dh4 p{
        font-size: small;
    }

}

@media (max-width:486px) {
    #d2{
        
        overflow: scroll;
    }
    #t2{
        width: 100%;
        padding: 0px;
        height: fit-content;
        overflow: scroll;
        color: rgb(85, 85, 85);
    }
    #t2 td{
        font-size: 0.32cm;
    }
    #t2 th{
        font-size: 0.32cm;
    }   
    #d3{
        padding-top: 30px;
    }
    #d3 iframe{
        width: 85%;
        height: fit-content;
    }
    #d3 p {
        width: 85%;
        height: fit-content;
        font-size: 0.31cm;
        text-align: justify;
    }
    #dd1{
        width: 260px;
        height: 171px;
    }
    #dd1 p{
        font-size: 0.37cm;
    }

    #hamburguesa{
        display: block;
    }
    #menuImg{
        width: 30px;
        height: 30px;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(242 204 26);
        font-size: 0.5cm;
        margin: 0;
    }
    .navbar-brand:focus, .navbar-brand:hover {
        color: rgb(242 204 26);
    }
    .navbar-toggler{
        width: 69px;
        height: 37px;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none !important;
    }

    .offcanvasLogo{
        width: 25px;
        height: 25px;
    }
    .offcanvas-title{
        font-family: monospace;
        font-size: 0.45cm;
        font-weight: 900;
    }
    .offcanvas-header{
        background-color: whitesmoke;
    }
    .offcanvas-body{
        background-color: rgb(20, 20, 59);
        color: rgb(242 204 26);
    }
    .nav-link{
        color: rgb(242 204 26);
    }
    .nav-link.active{
        color: rgb(189, 157, 18) !important;
    }
    .navImg{
        width: 25px;
        height: 25px;
    }   


    #dh2{
        display: none;
    }
    #dh3{
        display: none;
    }
    #dh4{
        display: none;
    }

}