*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
a{
    line-height: normal;
}
/*---------------------------*/
#header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 10px;
    width: 100%;
    height: 13vh;
    background-color: whitesmoke;
    /*background-image: linear-gradient(to right, rgb(62, 77, 76), rgb(151, 151, 127));
    background-color: rgb(110, 110, 89);
    color: rgb(32, 139, 139);*/
}
#header h1{
    text-align: center;
    padding-bottom: 9px;
    font-family: system-ui;
    font-weight: 700;
    margin: 0;
    line-height: normal;
}
#header img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#dh11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: rgb(42 42 92);/*rgb(20, 20, 59)*/
    padding-top: 20px;
    padding-bottom: 20px;
}
#hamburguesa{
    display: none;
}
#dh2{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 5px;
}
#dh2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    padding: 6px;
    font-weight: 700;
    text-decoration: none;
    margin: 3px;
    background-color: rgb(242 204 26);
    border-radius: 50px;
    color: black;
}
#dh2 a:hover{
    background-color: rgb(255, 223, 80);
    border: 1px solid rgb(189, 157, 18);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function:ease;
}
#dh2 a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
#dh2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(242 204 26);
    text-align: center;
}
#dh3{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 5px;
}
#dh3 a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    padding: 6px;
    font-weight: 700;
    text-decoration: none;
    margin: 3px;
    background-color: rgb(242 204 26);
    border-radius: 50px;
    color: black;
}
#dh3 a:hover{
    background-color: rgb(255, 223, 80);
    border: 1px solid rgb(189, 157, 18);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function:ease;
}
#dh3 a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
#dh3 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 157, 18);
    text-align: center;
}
#dh4{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 5px;
}
#dh4 a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    padding: 6px;
    font-weight: 700;
    text-decoration: none;
    margin: 3px;
    background-color: rgb(242 204 26);
    border-radius: 50px;
    color: black;
}
#dh4 a:hover{
    background-color: rgb(255, 223, 80);
    border: 1px solid rgb(189, 157, 18);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function:ease;
}
#dh4 a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
#dh4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(242 204 26);
    text-align: center;
}
/*----------------------*/
#d2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    background-color: rgb(20, 20, 59);
}
#d21{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25px 25px;
    font-size: larger;
    color: rgb(242 204 26);
}
#imgCuentas{
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgb(242 204 26);
    padding: 2px;
}
#d21 h2{
    border-bottom: 2px solid rgb(189, 157, 18);
    font-size: revert;
    font-weight: normal;
    margin: 0;
    line-height: normal;
}
#d22{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;/*fit content*//*57vh*/
}

#dd2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    width: 370px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    color: rgb(85, 85, 85);
    background-color: whitesmoke;/*rgb(242 204 26)*/
    box-shadow: 4px 4px rgb(189 157 18);
}
#dd22{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 0.5cm;
    font-weight: 600;
}
#dd23{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 0.5cm;
    font-weight: 600;
}
#dd24{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 0.5cm;
    font-weight: 600;
    margin: 0px 0px 0px 5px;
}
#dd25{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
}
#dd25 a{
    display: flex;
    justify-content: center;/*start*/
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 3px;
}
#dd25 a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
#dd25 a img:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
#dd26{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}  
#dd26 h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5cm;
    font-weight: 700;
    color:rgb(242 204 26);
    background-color:whitesmoke;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 3px 3px  rgb(189, 157, 18);
    line-height: normal;
}
/*---------------------------------*/
#d1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;/* 80vh */
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: rgb(20, 20, 59);
}
#dTransferencia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border: 3px solid rgb(189 157 18);
    padding: 10px 10px 0px 10px;
    width: 80%;
    height: fit-content;/* 60vh */
    margin: 10px;
}
#tTransferencia{
    border-bottom: 2px solid rgb(189 157 18);
    font-size: 0.6cm;
    margin: 10px;
    text-align: center;
    color: rgb(242 204 26);
    font-weight: normal;
    line-height: normal;
}
#formTransferencia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100%;
}


#f9{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px 10px;
    margin-top: 5px;
    color: rgb(85, 85, 85);
}
#f9-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
}
#f9-1 h2{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
    height: 76px;
    width: 100px;
    text-shadow: 1px 1px cadetblue;
    font-size: revert;
    margin: 0;
    line-height: normal;
}
#f9-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: auto;
}
#f9-2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 76px;
}

#f0{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    margin: 5px;
}
#f0-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
    height: 60px;
}
#f0-1 label{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 0.5cm;
    font-weight: 900;
    text-align: center;
    color: rgb(85, 85, 85);
}
#f0-1 input{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 3px;
    padding: 3px;
    border: 3px solid rgb(242 204 26);
} 

#f1{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 5px;
    margin-bottom: 15px;
}
#f1-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    height: 70px;
}
#f1-1 p{
    margin: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 900;
    font-size: 0.55cm;
    color: rgb(242 204 26);
}
#f1-11{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 60%;/* 95% */
    height: 60px;
    margin: 5px;
}
#f1-11 label{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
    height: auto;
    font-size: 0.5cm;
    font-weight: 900;
    text-align: center;
    color: rgb(85, 85, 85);
}
#f1-11 input{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: 13px;
} 
#f1-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 95%;
    height: fit-content;
    margin: 5px;
}
#f1-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 95%;
    height: fit-content;
    margin: 5px;
}
#f1-3 label{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 0.5cm;
    font-weight: 900;
    text-align: center;
    color: rgb(85, 85, 85);
}
#f1-3 input{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 3px;
    padding: 3px;
    border: 3px solid rgb(242 204 26);
} 
#nulo{
    width: 0;
    height: 0;
}


#f2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin: 5px;
}
#f2-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 45%;/* 95% */
    height: fit-content;
    margin: 5px;
}
#f2-1 p{
    margin: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.5cm;
    font-weight: 900;
    color: rgb(85, 85, 85);
    text-align: center;
}
#f2-1 label{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    font-size: 0.5cm;
    font-weight: 900;
    color: rgb(85, 85, 85);
    text-align: center;
}
#f2-1 input{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 3px;
    padding: 3px;
    border: 3px solid rgb(242 204 26);
}

#f2-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 30%;/* 95% */
    height: fit-content;
    margin: 5px;
}
#f2-2 p{
    margin: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.5cm;
    font-weight: 900;
    color: rgb(85, 85, 85);
    text-align: center;
}
#f2-2 label{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    font-weight: 900;
    color: rgb(85, 85, 85);
    text-align: center;
}
#f2-2 input{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 3px;
    padding: 3px;
    border: 3px solid rgb(242 204 26);
}


#f3{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 3px;
    margin-top: 15px;
}
#f3 input{
    color: rgb(189 157 18);
    background-color: whitesmoke;
    font-weight: 900;
    font-size: 0.4cm;
    padding: 5px;
    border: 3px outset rgb(242 204 26);
    cursor: pointer;
}
#f3 input:hover{
    color: whitesmoke;
    background-color: rgb(189 157 18);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#f4{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}
#f4 img{
    width: 70px;
    height: 60px;
}


#df1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(242 204 26);/*whitesmoke*/
    /*color: rgb(242 204 26);*/
    color: whitesmoke;/*black*/
    font-weight: 500;
    height: 52px;
}
#foo1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 25%;
    height: 50px;
    margin-left: 20px;
}
#foo1 img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
#foo1 img:hover{
    background-color: rgb(255, 223, 80);
    border-radius: 50%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
#foo2{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    width: 75%;
    height: 50px;
    margin-right: 20px;
}
#foo2 h3 {
    font-size: larger;
    font-weight: 900;
    margin: 0;
    line-height: normal;
}

.swal-modal {
    text-align: center;
}
.swal-title{
    text-align: center;
}
.swal-text{
    text-align: center;
}
.swal-button--confirm {
    background-color: rgb(20, 20, 59);

}
.swal-button--confirm:hover {
    background-color: rgb(20, 20, 59) !important;
}
.swal-button--confirm:focus {
    background-color: rgb(20, 20, 59);
    border: none;
}

@media (max-width:1264px) {
    #header{
        height: 15vh;
    }
    #f2-1{
        width: 45%;
    }
    #f2-2{
        width: 35%;
    }
    #dd2{
        width: 390px;
    }
}

@media (max-width:1150px) {

    #dh2 a{
        width: 65px;
        height: 65px;
    }
    #dh2 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh2 a img{
        width: 45px;
        height: 45px;
    }
    #dh3 a{
        width: 65px;
        height: 65px;
    }
    #dh3 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh3 a img{
        width: 45px;
        height: 45px;
    }
    #dh4 a{
        width: 65px;
        height: 65px;
    }
    #dh4 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh4 a img{
        width: 45px;
        height: 45px;
    }
    #d3 iframe {
        width: 540px;
        height: 300px;
    }
    #d3 p{
        height: 300px;
    }
    #header{
        height: 17vh;
    }
    #f2-1{
        width: 50%;
    }
    #f2-2{
        width: 40%;
    }
}

@media (max-width:1024px) {
    h1{
        font-size: 0.8cm;
    }
    #header{
        height: 19vh;
    }
    #f2-1{
        width: 60%;
    }
    #f2-2{
        width: 50%;
    }
    
    #dd2{
        width: 320px;
        height: 70px;
    }
    #dd22{
        font-size: 0.43cm;
        font-weight: 600;
    }
    #dd23{
        font-size: 0.43cm;
        font-weight: 600;
    }
    #dd24{
        font-size: 0.43cm;
        font-weight: 600;
    }
    #dd26{
        font-size: 0.4cm;
    }
    #f0-1 label{
        font-size: 0.43cm;
    }
    #f1-1 p {
        font-weight: 900;
        font-size: 0.5cm;
    }
    #f1-11 label{
        font-size: 0.43cm;
    }
    #f1-11 input{
        height: 10px;
        width: 10px;
    } 
    #f1-3 label{
        font-size: 0.43cm;
    }
    #f2-1 p{
        font-size: 0.43cm;
    }
    #f2-1 label{
        font-size: 0.43cm;
    }
    #f2-2 p{
        font-size: 0.43cm;
    }
    #f3 input{
        font-weight: 900;
        font-size: medium;
    }

    #d21 h2{
        font-size: x-large;
    }
}

@media (max-width:890px) {

    #dTransferencia{
        width: 90%;
    }
    #f2{
        width: 95%;
    }
    #f2-1 p{
        width: 125px;
    }
}

@media (max-width:768px) {

    #f0-1 label{
        display: flex;
        flex-direction: column;
    }
    #f0-1 input{
        margin: 5px;
        width: 140px;
    }
    #f1-1{
        height: fit-content;
    }
    #f1-11{
        width: 85%;
    }
    #f1-3 label{
        display: flex;
        flex-direction: column;
    }
    #f1-3 input{
        margin: 5px;
        width: 140px;
    }
    #f2{
        flex-direction: column;
    }
    #f2-1 p{
        width: auto;
    }
    #f2-1{
        width: 75%;
    }
    #f2-1 input{
        width: 140px;
    }
    #f2-2{
        width: 65%;
    }
    #f2-2 input{
        width: 140px;
    }

    #df1{
        flex-direction: column;
        height: fit-content;
        background-color: rgb(242 204 26);

    }
    #foo1{
        width: 100%;
        height: 45px;
        margin: 0;
        justify-content: space-evenly;
    }
    #foo2{
        justify-content: center;
        margin: 0;
        height: 25px;
        width: 100%;
    }
    #dh2{
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 5px;
    }
    #dh2 a{

        width: 50px;
        height: 50px;
        padding: 6px;
        font-weight: 700;
        margin: 3px;
    }
    #dh2 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh2 a img{
        width: 30px;
        height: 30px;
    }
    #dh2 p{
        font-size: small;
    }
    #dh3{
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 5px;
    }
    #dh3 a{

        width: 50px;
        height: 50px;
        padding: 6px;
        font-weight: 700;
        margin: 3px;
    }
    #dh3 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh3 a img{
        width: 35px;
        height: 35px;
    }
    #dh3 p{
        font-size: small;
    }
    #dh4{
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 5px;
    }
    #dh4 a{

        width: 50px;
        height: 50px;
        padding: 6px;
        font-weight: 700;
        margin: 3px;
    }
    #dh4 a:hover{
        background-color: rgb(255, 223, 80);
        border: 1px solid rgb(189, 157, 18);
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function:ease;
    }
    #dh4 a img{
        width: 30px;
        height: 30px;
    }
    #dh4 p{
        font-size: small;
    }

    #dd2 p{
        font-size: 0.4cm;
        font-weight: 600;
    }
    #dd26 h3 {
        font-size: 0.43cm;
        font-weight: 700;
    }
}

@media (max-width:480px) {
    #dd2{
        width: 90%;
    }
    #dd2 p{
        font-size: 0.4cm;
    }
    #dd26 h3 {
        font-size: 0.4cm;
        font-weight: 700;
        width: 55%;
        text-align: center;
    }
    #f0-1 input{
        width: 120px;
    }
    #f1-3 input{
        margin: 5px;
        width: 120px;
    }
    #f2-1 input{
        width: 120px;
    }
    #f2-2 input{
        width: 120px;
    }
    #f1-11 label{
        align-items: center;
    }

    #hamburguesa{
        display: block;
    }
    #menuImg{
        width: 30px;
        height: 30px;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(242 204 26);
        font-size: 0.5cm;
        margin: 0;
    }
    .navbar-brand:focus, .navbar-brand:hover {
        color: rgb(242 204 26);
    }
    .navbar-toggler{
        width: 69px;
        height: 37px;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none !important;
    }

    .offcanvasLogo{
        width: 25px;
        height: 25px;
    }
    .offcanvas-title{
        font-family: monospace;
        font-size: 0.45cm;
        font-weight: 900;
    }
    .offcanvas-header{
        background-color: whitesmoke;
    }
    .offcanvas-body{
        background-color: rgb(20, 20, 59);
        color: rgb(242 204 26);
    }
    .nav-link{
        color: rgb(242 204 26);
    }
    .nav-link.active{
        color: rgb(189, 157, 18) !important;
    }
    .navImg{
        width: 25px;
        height: 25px;
    }   


    #dh2{
        display: none;
    }
    #dh3{
        display: none;
    }
    #dh4{
        display: none;
    }
}

@media (max-width:344px) {
    #tTransferencia{
        width: 160px;
    }
}